* {
  box-sizing: border-box;
}

h1 {
  color: #171a1a;
  margin: 50px;
  margin-left: 0;
}

.container {
  width: 974px;
  height: auto;
  scroll-behavior: smooth;

  /* background: linear-gradient(90deg, #ff9ff2, #4f0081 95%); */
  background:linear-gradient(90deg,  #e2b4ff ,  #8728c2 95%);
  padding: 20px 40px;
}
body {
  font-weight: 500;
  width: 974px;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 40px;
}

#html-base {
  color: #17b6ff;
}

.html-code {
  color: #c182ff !important;
}

.html-code span {
  color: #b2f3ff;
}

.html-code i {
  color: #d3a4d3;
}

.bu-up {
  position: fixed;
  width: 100px;
  z-index: 5;
  scroll-behavior: smooth;
  height: 100px;
  border: 5px solid #fffffffb;
  background: #4e4195;
  border-radius: 50%;
  opacity: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFF;
  bottom: 20%;
  left: 820px;
}

.html-code {
  font-size: 25px;
}

#html-1 {
  margin: 8px;
}

.output {
  background: #ffffff;
  margin: 8px;
  padding: 0;
}

.output {
  margin: 8px;
}

b {
  font-weight: 1000;
}

.code {
  background: #171a1ae6;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-left: 6px solid #516363;
  max-width: auto;
  margin: 0px 2px;
  white-space: pre-wrap;
  padding: 20px 20px 20px 50px;
  color: #17b6ff;
  counter-reset: step;
  counter-increment: step 0;
  position: relative;
  border-radius: 20px;
}

.code .l {
  line-height: 1.4em;
}

.code .l:before {
  color: #ea8fff7f;
  position: absolute;
  left: 15px;
  content: counter(step);
  counter-increment: step;
}

.selector {
  color: #c7d3de;
}

.property {
  color: #c182ff;
}

.value {
  color: #bf94c0;
}

.comments {
  color: #5b5c63;
}

.box {
  margin: 50px auto;
  width: auto;
}

.clearfix {
  display: flex;
}

.pleft {
  margin-left: 34px;
}

.clip {
  position: absolute;
  margin-left: 535px;
  z-index: 1;
}

.main {
  margin-top: 84px;
}

.sub {
  margin-top: 242px;
}

.btn-primary {
  background-color: #c183ff85 !important;
  /* Green */
  border: none !important;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  font-size: 36px;
}

.head {
  display: flex;
  width: 90%;
  margin: 10px auto;
  background: #171717;
  border-radius: 20px;
  color: #ffffff;
}

.head img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 35px 40px;
  border: #1e1e1e;
}

.bad {
  display: inline-block;
  padding: 30px;
  height: 10px;
}

.bad h3 {
  padding: 0;
  margin: 0;
}

.bad p {
  padding: 0;
  margin: 0;
}

::selection {
  color: #8d3be55c;
  background: #3536399e;
}

.toleft {
  margin-left: 30px;
}

f {
  border-radius: 10px;
  padding: 0 14px;
  color: #ffffffb9;
  background: #55355d9e;
}

.menu-circle {
  width: 45px;
  height: 45px;
  opacity: 50%;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 23px 0 0 0 #f8ce52, 42px 0 0 0 #5fcf65;
  margin-right: 195px;
  flex-shrink: 0;
}

.btn-html {
  width: 100%;
  height: auto;
  display: flex;
}

.btn-html button {
  height: 90px;
  font-size: 60px;
  border: none;
  border-radius: 20px;
  background: rgb(145, 127, 147);
  margin-left: 30px;
  width: 200px;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

.yt {
  padding: 35px;
  margin-bottom: 200px;
  border-radius: 30px;
  background-image: linear-gradient(90deg, #f96057, #f8ce52, #5fcf65);
}
